.homepage {
	background: #eee;
	.home-nav {
		li {
			border: 0;
			&.active {
				border: 0;
				background: none;
			}
			a {
				border: 0;
				&:hover,
				&:focus,
				&:active {
					border: 0;
				}
			}
		}
	}
	.question-answer-bit {
		background: white;
		margin-bottom: 10px;
		@media screen and(min-width: 768px) {
			padding: 20px;
		}
		.content-wrap {
			.bit-header {
				.bit-title {
					margin: 0;
					padding: 0;
					font-size: 16px;
					text-transform: uppercase;
					font-family: sans-serif;
					color: $brand-color;
					margin-top: 10px;
					@media screen and (min-width: 768px) {
						font-size: 20px;
						line-height: 30px;
					}
					@media screen and (min-width: 960px) {
						font-size: 24px;
						line-height: 30px;
					}
					@media screen and (min-width: 1200px) {
						font-size: 27px;
						line-height: 36px;
					}
				}
			}
			.bit-entry {
				font-size: 12px;
				@media screen and (min-width: 768px) {
					font-size: 13px;
				}
				@media screen and (min-width: 960px) {
					font-size: 14px;
					line-height: 20px;
				}
				@media screen and (min-width: 1200px) {
					font-size: 15px;
				}
				p {
					margin-bottom: 0;
				}
			}
		}
		.bit-metadata {
			background: none;
			margin: 0;
			padding: 0;
			border: 0;
			float: none;
			display: block;
			display: none;
			@media screen and(min-width: 768px) {
				display: block;
				text-align: right;
			}
			ul:first-child {
				display: inline;
				li {
					display: inline-block;
					margin-right: 5px;
					i {
						margin-right: 3px;
					}
				}
			}
			ul.button-wrap {
				margin-top: 20px;
				.btn-primary {
					background: $brand-color;
				}
				.btn {
					font-family: sans-serif;
				}
			}
		}
	}
}