/* --- Site Footer --- */
#contentinfo {
	background: $brand-color;
	padding: 20px 0;
	margin: 0;
	border: 0;
	.site-info {
		text-align: center;
		margin-bottom: 10px;
		.copyright-text {
			margin: 0;
			padding: 0;
			color: rgba(black, .8);
		}
	}
	.footer-links {
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
				a {
					display: block;
					font-family: sans-serif;
					text-transform: uppercase;
					font-size: smaller;
					text-decoration: none;
					color: rgba(white, .8);
				}
			}
		}
	}
}