- body_class 'room-selection-page'

.btn-group.btn-breadcrumb
  .container
    h1.font-white.text-center Welcome to Ask me, Awesome Questions &amp; Answer
    p.text-center.font-white Dont be shy. Ask something.
    br
    .row
      .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        form
          .form-group
            .inner-addon-lg.left-addon
              i.glyphicon.glyphicon-search
              .input-group
                input#ask-input.form-control.no-radius.input-lg placeholder=(" Ask a question") type="text"
                span.input-group-btn
                  button.btn.btn-default.no-radius.theme-button-head type="button"  &nbsp;Ask&nbsp;
          .form-group
            .inner-addon-lg.left-addon
              i.glyphicon.glyphicon-search
              .input-group
                input#search-input.form-control.no-radius.input-lg placeholder=(" Search questions.") type="text"
                span.input-group-btn
                  button.btn.btn-default.no-radius.theme-button-head type="button"  Search
        p.text-center or
        p.text-center
          button.btn.btn-default.no-radius.theme-button.btn-lg Join Now
.container
  section
    .row
      #about-admin.col-md-4
        = render 'users/user'
        .alert.alert-info
          h3 Tags
          ul.tags
            li
              a href=""  Project
            li
              a href=""  Portfolio
            li
              a href=""  UI
            li
              a href=""  HTML
          ul.tags
            li
              a href=""  Project
            li
              a href=""  Portfolio
            li
              a href=""  UI
            li
              a href=""  HTML
      br
      br
      .col-md-8
        ul.nav.nav-tabs.home-nav
          li.active role="presentation" 
            a.active href="#"  Recent Questions
          li role="presentation" 
            a href="#"  Most Responses
          li role="presentation" 
            a href="#"  Recently Answered
          li role="presentation" 
            a href="#"  No Answers
        br
        .questions-list.clearfix
          article.question-answer-bit
            .row
              .col-xs-4
                .image-wrap
                  a href="#" 
                    img.img-responsive.img-circle src="http://placehold.it/800x800"
              .col-xs-8
                .content-wrap
                  header.bit-header
                    h1.bit-title.h3 Lorem ipsum dolor sit amet?
                  .bit-entry
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.bit-metadata
              ul.list-unstyled
                li.text-success
                  i.fa.fa-check
                  | Solved
                li
                  i.fa.fa-clock-o
                  | 2 min ago
                li
                  i.fa.fa-comment
                  | 2 Answer
                li.list-view
                  i.fa.fa-user.fa-1X
                  | 20 Views
                li.text-warning
                  i.fa.fa-star
                  | 5
                li
                  i.fa.fa-folder
                  | Html
              ul.list-unstyled.button-wrap
              button.btn.btn-primary
                i.fa.fa-question
                span.btn-text Question
              button.btn.btn-default
                i.fa.fa-thumbs-down
                span.btn-text Report
          article.question-answer-bit
            .row
              .col-xs-4
                .image-wrap
                  a href="#" 
                    img.img-responsive.img-circle src="http://placehold.it/800x800"
              .col-xs-8
                .content-wrap
                  header.bit-header
                    h1.bit-title.h3 Lorem ipsum dolor sit amet?
                  /! /.bit-header
                  .bit-entry
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.bit-metadata
              ul.list-unstyled
                li.text-success
                  i.fa.fa-check
                  | Solved
                li
                  i.fa.fa-clock-o
                  | 2 min ago
                li
                  i.fa.fa-comment
                  | 2 Answer
                li.list-view
                  i.fa.fa-user.fa-1X
                  | 20 Views
                li.text-warning
                  i.fa.fa-star
                  | 5
                li
                  i.fa.fa-folder
                  | Html
              ul.list-unstyled.button-wrap
              button.btn.btn-primary
                i.fa.fa-question
                span.btn-text Question
              button.btn.btn-default
                i.fa.fa-thumbs-down
                span.btn-text Report
          article.question-answer-bit
            .row
              .col-xs-4
                .image-wrap
                  a href="#" 
                    img.img-responsive.img-circle src="http://placehold.it/800x800" /
              .col-xs-8
                .content-wrap
                  header.bit-header
                    h1.bit-title.h3 Lorem ipsum dolor sit amet?
                  .bit-entry
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.bit-metadata
              ul.list-unstyled
                li.text-success
                  i.fa.fa-check
                  | Solved
                li
                  i.fa.fa-clock-o
                  | 2 min ago
                li
                  i.fa.fa-comment
                  | 2 Answer
                li.list-view
                  i.fa.fa-user.fa-1X
                  | 20 Views
                li.text-warning
                  i.fa.fa-star
                  | 5
                li
                  i.fa.fa-folder
                  | Html
              ul.list-unstyled.button-wrap
              button.btn.btn-primary
                i.fa.fa-question
                span.btn-text Question
              button.btn.btn-default
                i.fa.fa-thumbs-down
                span.btn-text Report
          article.question-answer-bit
            .row
              .col-xs-4
                .image-wrap
                  a href="#" 
                    img.img-responsive.img-circle src="http://placehold.it/800x800"
              .col-xs-8
                .content-wrap
                  header.bit-header
                    h1.bit-title.h3 Lorem ipsum dolor sit amet?
                  .bit-entry
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.bit-metadata
              ul.list-unstyled
                li.text-success
                  i.fa.fa-check
                  | Solved
                li
                  i.fa.fa-clock-o
                  | 2 min ago
                li
                  i.fa.fa-comment
                  | 2 Answer
                li.list-view
                  i.fa.fa-user.fa-1X
                  | 20 Views
                li.text-warning
                  i.fa.fa-star
                  | 5
                li
                  i.fa.fa-folder
                  | Html
              ul.list-unstyled.button-wrap
              button.btn.btn-primary
                i.fa.fa-question
                span.btn-text Question
              button.btn.btn-default
                i.fa.fa-thumbs-down
                span.btn-text Report
