/* line 4, ../../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../../scss/style.scss */
a, img {
  text-decoration: none;
}

/* line 11, ../../scss/style.scss */
.active {
  background-color: #e06666;
  color: #ffffff;
}

/* View Profile */
/* line 18, ../../scss/style.scss */
#about-admin .alert {
  width: 100%;
  float: left;
  margin-top: 50px;
  color: #000;
}

/* line 24, ../../scss/style.scss */
#about-admin h2 {
  border-bottom: 2px solid #000;
  font-size: 17px;
  margin: 0 0 16px;
  padding-bottom: 10px;
  color: #666666;
  font-size: 20px;
}

/* line 32, ../../scss/style.scss */
#about-admin h3 {
  border-bottom: 2px solid;
  font-size: 17px;
  margin: 0 0 16px;
  padding-bottom: 10px;
  color: #000;
}

/* line 39, ../../scss/style.scss */
#about-admin h3 span {
  color: #5e90e7;
  float: right;
  text-decoration: underline;
}

/* line 44, ../../scss/style.scss */
#about-admin .fa-user {
  border: 2px solid;
  border-radius: 56px;
  color: #666666;
  font-size: 48px;
  padding: 15px 22px;
}

/* line 51, ../../scss/style.scss */
.btn-social {
  color: white;
}

/* line 55, ../../scss/style.scss */
.btn-social:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

/* line 61, ../../scss/style.scss */
.btn-facebook, .btn-twitter, .btn-linkedin, .btn-google {
  background: #e06666;
}

/* line 64, ../../scss/style.scss */
.contact {
  float: right;
  margin-top: 14px;
}

/* line 68, ../../scss/style.scss */
.contact li, .btn-breadcrumb a {
  display: inline;
  list-style: none;
  background: url("../img/li_bg.png") no-repeat center right;
  padding: 0 8px;
  color: #fff;
}

/* line 75, ../../scss/style.scss */
.contact li:last-child, .btn-breadcrumb a:last-child {
  background: none;
}

/* line 78, ../../scss/style.scss */
.contact li a {
  color: #fff;
  padding: 0 12px;
}

/* line 82, ../../scss/style.scss */
.contact li a:hover {
  text-decoration: none;
  color: #e06666;
}

/* line 86, ../../scss/style.scss */
.btn-breadcrumb {
  background: #e06666;
  float: left;
  padding: 18px 0;
  width: 100%;
}

/* line 92, ../../scss/style.scss */
.btn-breadcrumb a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 96, ../../scss/style.scss */
.link {
  color: black !important;
}

/* line 99, ../../scss/style.scss */
#about-admin img {
  float: left;
}

/* line 102, ../../scss/style.scss */
.q_list li {
  line-height: 29px;
  list-style: none;
}

/* line 106, ../../scss/style.scss */
.q_list span {
  float: right;
  font-weight: 700;
}

/* line 110, ../../scss/style.scss */
.about-list li {
  line-height: 32px;
  list-style: none;
  color: #6f7271;
}

/* line 115, ../../scss/style.scss */
.about-list i {
  padding-right: 10px;
  color: #000000;
}

/* line 119, ../../scss/style.scss */
#about-admin p {
  float: left;
  padding: 18px 0;
  width: 100%;
}

/* line 124, ../../scss/style.scss */
.stats li {
  font-size: 18px;
  line-height: 48px;
  list-style: none;
}

/* line 129, ../../scss/style.scss */
.stats i {
  font-size: 26px;
  padding: 0 12px 0 0;
  vertical-align: middle;
}

/* line 134, ../../scss/style.scss */
.stats span {
  margin-left: 20px;
}

/* line 137, ../../scss/style.scss */
.tags {
  width: 100%;
  float: left;
  margin: 12px 0 !important;
}

/* line 142, ../../scss/style.scss */
.tags li {
  background: #333333;
  border: 2px solid #000000;
  color: #ffffff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px #000;
}

/* line 151, ../../scss/style.scss */
.tags li a {
  color: #ffffff;
}

/* line 154, ../../scss/style.scss */
.table, tr, td {
  border: 2px solid;
  margin: 0 !important;
}

/* line 158, ../../scss/style.scss */
footer {
  background: #999999;
  border-bottom: 3px solid;
  border-top: 3px solid;
  padding: 15px 0 30px;
}

/* line 164, ../../scss/style.scss */
.footer-box li {
  font-size: 20px;
  list-style: none;
}

/* line 168, ../../scss/style.scss */
.footer-box li a {
  color: #000;
}

/* line 171, ../../scss/style.scss */
.footer-box li::before {
  content: "-";
  padding-right: 10px;
}

/* line 175, ../../scss/style.scss */
#second {
  margin-left: 106px;
}

/* line 178, ../../scss/style.scss */
.copyright {
  background: #666666;
  border-bottom: 3px solid;
  padding: 10px 0;
  color: #fff;
}

/* line 184, ../../scss/style.scss */
.copyright h5 {
  float: left;
  font-size: 20px;
}

/* line 188, ../../scss/style.scss */
.copyright span {
  float: right;
}

/* Edit profile */
/* line 194, ../../scss/style.scss */
.edit input, .edit textarea {
  border: 2px solid;
  margin-bottom: 10px;
  padding: 4px;
  width: 100%;
}

/* line 200, ../../scss/style.scss */
.edit label {
  width: 100%;
}

/* line 203, ../../scss/style.scss */
.edit div {
  margin: 10px 0 0;
}

/* line 206, ../../scss/style.scss */
.edit .btn {
  background: #e06666;
  border: 2px solid #000000;
  box-shadow: 2px 3px 1px #000000;
  color: #ffffff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 0;
}

/* User answer */
/* line 219, ../../scss/style.scss */
.question, .list {
  float: left;
  width: 100%;
  list-style: none;
}

/* line 224, ../../scss/style.scss */
.question h1 {
  color: #e06666;
  font-size: 25px;
  float: left;
  margin: 0 0 20px 0px;
}

/* line 230, ../../scss/style.scss */
.list {
  border-bottom: 2px solid #cccccc;
  float: left;
  list-style: outside none none;
  margin-bottom: 15px;
  padding-bottom: 10px;
  width: 100%;
}

/* line 238, ../../scss/style.scss */
.list li {
  display: inline;
  padding-right: 12px;
  border: 0px none;
}

/* line 243, ../../scss/style.scss */
.list i {
  padding-right: 8px;
  padding-right: 14px;
}

/* line 247, ../../scss/style.scss */
.q-btn {
  background: #e06666;
  border: 2px solid #000000;
  box-shadow: 2px 3px 1px #000000;
  color: #ffffff;
  display: inline;
  padding: 5px 25px;
  float: right;
}

/* line 256, ../../scss/style.scss */
.q-btn:hover {
  color: #fff;
  text-decoration: none;
}

/* line 260, ../../scss/style.scss */
.list-view .fa-user {
  border: 0 none !important;
  border-radius: 0 !important;
  color: black !important;
  font-size: 15px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 14px !important;
}

/* line 270, ../../scss/style.scss */
.text-warning {
  color: #ff9900 !important;
}

/* line 273, ../../scss/style.scss */
.fa.fa-question {
  background: #ffffff;
  border: 1px solid;
  border-radius: 12px;
  color: #000000;
  margin-right: 12px;
  padding: 1px 4px;
}

/* line 281, ../../scss/style.scss */
.bs-example {
  float: right;
}

/* line 284, ../../scss/style.scss */
.current {
  background: #e06666 !important;
}

/*Nicks CSS*/
/* line 292, ../../scss/style.scss */
.container .q-btn-home {
  background: #e06666;
  border: 2px solid #000000;
  box-shadow: 2px 3px 1px #000000;
  color: #ffffff;
  display: inline;
  padding: 5px 25px;
}

/* line 301, ../../scss/style.scss */
.container .r-btn-home {
  background: grey;
  border: 2px solid #000000;
  box-shadow: 2px 3px 1px #000000;
  color: #ffffff;
  display: inline;
  padding: 5px 25px;
}

/* line 311, ../../scss/style.scss */
.long-botton {
  display: block;
  width: 100%;
}

/* line 316, ../../scss/style.scss */
.font-white {
  color: white;
}

/* line 320, ../../scss/style.scss */
.no-radius {
  border-radius: 0 !important;
}

/* line 324, ../../scss/style.scss */
.question .theme-form {
  border: 2px solid black;
}

/* line 328, ../../scss/style.scss */
.modal .theme-form {
  border: 2px solid black;
}

/* line 332, ../../scss/style.scss */
.container .theme-button {
  background: #333;
  border: 0;
  color: #fff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  line-height: 50px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 350, ../../scss/style.scss */
.container .theme-button:hover {
  color: #e06666;
  padding-left: 20px;
  padding-right: 20px;
  background: black;
  height: 50px;
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
}

/* line 364, ../../scss/style.scss */
.container .theme-button-head {
  background: #333;
  border: 0;
  color: #fff;
  display: inline;
  margin: 0 5px;
  padding: 11px 10px;
  /*box-shadow:2px 1px 1px #000*/
  height: 46px;
  width: 90px;
  text-transform: uppercase;
  font-family: sans-serif;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 378, ../../scss/style.scss */
.container .theme-button-head:hover {
  color: #e06666;
  background: black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
}

/* line 385, ../../scss/style.scss */
.theme-button-white {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  display: inline;
  margin: 0;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px black;
}

/* line 395, ../../scss/style.scss */
.login {
  padding: 50px;
}

/* line 399, ../../scss/style.scss */
.login hr {
  border-bottom: 2px solid black;
}

/* line 403, ../../scss/style.scss */
.modal-header {
  color: #c4484d;
}

/* line 408, ../../scss/style.scss */
.theme-button-white {
  background: white;
  border: 2px solid #000000;
  color: black;
  display: inline;
  margin: 0px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px #000;
}

/* line 420, ../../scss/style.scss */
.modal .theme-button-red {
  background: #c4484d;
  border: 2px solid #000000;
  color: black;
  display: inline;
  margin: 0px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px #000;
}

/* line 432, ../../scss/style.scss */
.theme-button-red:active {
  background: #c4484d;
  border: 2px solid #000000;
  color: black;
  display: inline;
  margin: 0px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px #000;
}

/* line 445, ../../scss/style.scss */
.theme-button-red {
  color: white;
}

/* line 452, ../../scss/style.scss */
.theme-button-red:hover {
  background: #c4484d;
  border: 2px solid #000000;
  color: black;
  display: inline;
  margin: 0px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px #000;
}

/* line 464, ../../scss/style.scss */
.spacer {
  min-height: 200px;
}

/* line 468, ../../scss/style.scss */
.reg-height {
  min-height: 600px;
}

/* line 472, ../../scss/style.scss */
.theme-button:active {
  background: #333333;
  border: 2px solid #000000;
  color: #ffffff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px #000;
}

/* line 484, ../../scss/style.scss */
.theme-button:hover {
  background: #525553;
  border: 2px solid #000000;
  color: #ffffff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px #000;
}

/* line 496, ../../scss/style.scss */
.theme-button:focus {
  background: #525553;
  border: 2px solid #000000;
  color: #ffffff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px #000;
}

/* line 508, ../../scss/style.scss */
.theme-button:active {
  background: #333;
  border: 2px solid #000;
  color: #fff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px black;
}

/* line 518, ../../scss/style.scss */
.theme-button:hover {
  background: #525553;
  border: 2px solid #000;
  color: #fff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px black;
}

/* line 528, ../../scss/style.scss */
.theme-button:focus {
  background: #525553;
  border: 2px solid #000;
  color: #fff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  box-shadow: 2px 3px 1px black;
}

/* line 538, ../../scss/style.scss */
.inner-addon {
  position: relative;
}

/* line 542, ../../scss/style.scss */
.inner-addon-lg {
  position: relative;
}

/* line 546, ../../scss/style.scss */
.inner-addon-lg .glyphicon {
  position: absolute;
  padding: 15px;
  pointer-events: none;
}

/* style icon */
/* line 553, ../../scss/style.scss */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* line 559, ../../scss/style.scss */
.inner-addon .button {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
/* line 566, ../../scss/style.scss */
.left-addon .glyphicon {
  left: 0;
}

/* line 570, ../../scss/style.scss */
.right-addon .glyphicon {
  right: 0;
}

/* add padding  */
/* line 575, ../../scss/style.scss */
.left-addon input {
  padding-left: 30px;
}

/* line 579, ../../scss/style.scss */
.right-addon input {
  padding-right: 30px;
}

/* line 584, ../../scss/style.scss */
.label {
  line-height: 2 !important;
}

/* line 588, ../../scss/style.scss */
.question {
  min-height: 200px;
  margin-bottom: 30px;
  border: 2px solid #000;
  position: relative;
}

/* line 595, ../../scss/style.scss */
.container .home-nav {
  border-bottom: 2px solid #d65051;
}

/* line 599, ../../scss/style.scss */
.home-nav a {
  color: black;
}

/* line 604, ../../scss/style.scss */
.nav-tabs.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #d65051;
  border: 2px solid #d65051;
}

/* line 610, ../../scss/style.scss */
.user-profile {
  margin-right: 10px;
}

/* line 614, ../../scss/style.scss */
.question-list {
  bottom: 0;
  border-bottom: none;
  clear: all;
}

/* line 620, ../../scss/style.scss */
a .active {
  background-color: read;
}

/*END NICKS CSS*/
/*Peter's CSS*/
/*ask question begin*/
/* line 630, ../../scss/style.scss */
.ask input, .ask textarea, .ask select {
  border: 2px solid;
  margin-bottom: 10px;
  padding: 4px;
}

/* line 635, ../../scss/style.scss */
.ask div {
  margin: 10px 0;
  display: inline-block;
}

/* line 640, ../../scss/style.scss */
.ask label {
  margin: 13px 0;
  text-align: left;
  vertical-align: middle;
  float: inherit;
}

/* line 646, ../../scss/style.scss */
.ask #submit {
  background: #e06666;
  border: 2px solid #000000;
  box-shadow: 2px 3px 1px #000000;
  color: #ffffff;
  display: inline;
  margin: 0 5px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 0;
}

/* line 657, ../../scss/style.scss */
.ask label i {
  color: #f00;
}

/* line 660, ../../scss/style.scss */
.ask #dropdownCategory {
  text-align: left;
}

/* line 664, ../../scss/style.scss */
.ask .dropdown-toggle {
  text-align: left;
  margin-top: 8px;
}

/* line 668, ../../scss/style.scss */
.ask button span {
  float: right;
  margin-top: 8px;
}

@media screen and (min-width: 640px) {
  /* line 674, ../../scss/style.scss */
  .answer-list {
    margin-left: 60px;
  }
}
@media screen and (max-width: 320px) {
  /* line 679, ../../scss/style.scss */
  .ask div {
    display: block;
  }
}
@media screen and (max-width: 620px) {
  /* line 684, ../../scss/style.scss */
  .media-body {
    display: inline-block;
  }

  /* line 687, ../../scss/style.scss */
  .media-body .col-md-12, .col-md-1, .col-md-7 {
    padding: 0;
    margin: 0;
  }
}
/*ask question end*/
/* line 693, ../../scss/style.scss */
.reply {
  float: right;
  color: #f00;
}

/* line 698, ../../scss/style.scss */
.pull-right li {
  padding-left: 0px;
}

/* line 701, ../../scss/style.scss */
.pull-right li i {
  padding-left: 0px;
}

@media screen and (max-width: 980px) {
  /* line 706, ../../scss/style.scss */
  #second {
    margin: 0;
  }

  /* line 709, ../../scss/style.scss */
  .nav li a {
    padding: 10px 8px !important;
  }

  /* line 712, ../../scss/style.scss */
  .contact li {
    padding: 0;
    background: none;
  }

  /* line 716, ../../scss/style.scss */
  .contact li a {
    padding: 0 7px;
  }
}
@media screen and (max-width: 480px) {
  /* line 721, ../../scss/style.scss */
  .copyright {
    text-align: center;
  }

  /* line 724, ../../scss/style.scss */
  .copyright h5, .copyright span {
    float: none;
  }

  /* line 727, ../../scss/style.scss */
  .question h1 {
    font-size: 18px;
  }

  /* line 730, ../../scss/style.scss */
  .list {
    margin-top: 14px;
    line-height: 28px;
  }
}
@media screen and (max-width: 360px) {
  /* line 737, ../../scss/style.scss */
  .contact {
    float: left;
  }

  /* line 740, ../../scss/style.scss */
  .tags li {
    padding: 5px;
  }

  /* line 743, ../../scss/style.scss */
  .stats li {
    font-size: 15px;
    line-height: 37px;
  }

  /* line 747, ../../scss/style.scss */
  .q-btn {
    float: left;
  }

  /* line 750, ../../scss/style.scss */
  .list li {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  /* line 757, ../../scss/style.scss */
  .navbar.navbar-static-top .navbar-nav li {
    margin-right: 5px;
  }
}
/* line 761, ../../scss/style.scss */
.navbar.navbar-static-top .navbar-nav li a {
  font-family: sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 770, ../../scss/style.scss */
.alert.alert-info {
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
}

/* line 775, ../../scss/style.scss */
.question {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  /* line 775, ../../scss/style.scss */
  .question {
    padding-top: 20px;
  }
}
/* line 781, ../../scss/style.scss */
.question .media-heading {
  font-family: sans-serif;
  color: #e06666;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  padding-top: 0;
}
/* line 789, ../../scss/style.scss */
.question p {
  color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  /* line 793, ../../scss/style.scss */
  .question .media-body .botton-box {
    margin-top: -15px;
  }
}
/* line 798, ../../scss/style.scss */
.question .media-body .botton-box .q-btn-home,
.question .media-body .botton-box .r-btn-home {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 810, ../../scss/style.scss */
#about-admin .alert {
  background: white;
}
/* line 813, ../../scss/style.scss */
#about-admin h3 {
  text-transform: uppercase;
  font-family: sans-serif;
  border-width: 1px;
}
/* line 819, ../../scss/style.scss */
#about-admin .tags li {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 824, ../../scss/style.scss */
#about-admin .tags li a {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: smaller;
}

/* line 833, ../../scss/style.scss */
.theme-button-white {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: sans-serif;
  text-transform: uppercase;
}

/* --- Site Footer --- */
/* line 2, ../../scss/_site-footer.scss */
#contentinfo {
  background: #e06666;
  padding: 20px 0;
  margin: 0;
  border: 0;
}
/* line 7, ../../scss/_site-footer.scss */
#contentinfo .site-info {
  text-align: center;
  margin-bottom: 10px;
}
/* line 10, ../../scss/_site-footer.scss */
#contentinfo .site-info .copyright-text {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
}
/* line 16, ../../scss/_site-footer.scss */
#contentinfo .footer-links {
  text-align: center;
}
/* line 18, ../../scss/_site-footer.scss */
#contentinfo .footer-links ul {
  margin: 0;
  padding: 0;
}
/* line 21, ../../scss/_site-footer.scss */
#contentinfo .footer-links ul li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 25, ../../scss/_site-footer.scss */
#contentinfo .footer-links ul li a {
  display: block;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: smaller;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

/* line 1, ../../scss/_homepage.scss */
.homepage {
  background: #eee;
}
/* line 4, ../../scss/_homepage.scss */
.homepage .home-nav li {
  border: 0;
}
/* line 6, ../../scss/_homepage.scss */
.homepage .home-nav li.active {
  border: 0;
  background: none;
}
/* line 10, ../../scss/_homepage.scss */
.homepage .home-nav li a {
  border: 0;
}
/* line 14, ../../scss/_homepage.scss */
.homepage .home-nav li a:hover, .homepage .home-nav li a:focus, .homepage .home-nav li a:active {
  border: 0;
}
/* line 20, ../../scss/_homepage.scss */
.homepage .question-answer-bit {
  background: white;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  /* line 20, ../../scss/_homepage.scss */
  .homepage .question-answer-bit {
    padding: 20px;
  }
}
/* line 28, ../../scss/_homepage.scss */
.homepage .question-answer-bit .content-wrap .bit-header .bit-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #e06666;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  /* line 28, ../../scss/_homepage.scss */
  .homepage .question-answer-bit .content-wrap .bit-header .bit-title {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 960px) {
  /* line 28, ../../scss/_homepage.scss */
  .homepage .question-answer-bit .content-wrap .bit-header .bit-title {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 28, ../../scss/_homepage.scss */
  .homepage .question-answer-bit .content-wrap .bit-header .bit-title {
    font-size: 27px;
    line-height: 36px;
  }
}
/* line 50, ../../scss/_homepage.scss */
.homepage .question-answer-bit .content-wrap .bit-entry {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  /* line 50, ../../scss/_homepage.scss */
  .homepage .question-answer-bit .content-wrap .bit-entry {
    font-size: 13px;
  }
}
@media screen and (min-width: 960px) {
  /* line 50, ../../scss/_homepage.scss */
  .homepage .question-answer-bit .content-wrap .bit-entry {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 50, ../../scss/_homepage.scss */
  .homepage .question-answer-bit .content-wrap .bit-entry {
    font-size: 15px;
  }
}
/* line 62, ../../scss/_homepage.scss */
.homepage .question-answer-bit .content-wrap .bit-entry p {
  margin-bottom: 0;
}
/* line 67, ../../scss/_homepage.scss */
.homepage .question-answer-bit .bit-metadata {
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  float: none;
  display: block;
  display: none;
}
@media screen and (min-width: 768px) {
  /* line 67, ../../scss/_homepage.scss */
  .homepage .question-answer-bit .bit-metadata {
    display: block;
    text-align: right;
  }
}
/* line 79, ../../scss/_homepage.scss */
.homepage .question-answer-bit .bit-metadata ul:first-child {
  display: inline;
}
/* line 81, ../../scss/_homepage.scss */
.homepage .question-answer-bit .bit-metadata ul:first-child li {
  display: inline-block;
  margin-right: 5px;
}
/* line 84, ../../scss/_homepage.scss */
.homepage .question-answer-bit .bit-metadata ul:first-child li i {
  margin-right: 3px;
}
/* line 89, ../../scss/_homepage.scss */
.homepage .question-answer-bit .bit-metadata ul.button-wrap {
  margin-top: 20px;
}
/* line 91, ../../scss/_homepage.scss */
.homepage .question-answer-bit .bit-metadata ul.button-wrap .btn-primary {
  background: #e06666;
}
/* line 94, ../../scss/_homepage.scss */
.homepage .question-answer-bit .bit-metadata ul.button-wrap .btn {
  font-family: sans-serif;
}
