<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
	<title>Edit Profile</title>
	<link href="assets/css/style.css" rel="stylesheet" />
	<!-- BOOTSTRAP STYLE SHEET -->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
	<!-- FONT-AWESOME STYLE SHEET FOR BEAUTIFUL ICONS -->
	<link href="assets/css/font-awesome.css" rel="stylesheet" />
	<!-- CUSTOM STYLE CSS -->
	<style>
	#about-admin form.edit select {
		border: 2px solid;
		margin-bottom: 10px;
		padding: 4px;
	}
	</style>
</head>

<body>
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="col-md-12">
				<div class="col-md-2">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="home.html"><img src="assets/img/qa_logo.jpg" alt="Q &amp; A"></a>
					</div>
				</div>

				<div class="col-md-10">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav ">
							<li><a href="home.html">HOME</a></li>
							<li><a href="ask-question.html">Ask Question</a></li>
							<li><a href="single-question.html">Question</a></li>
							<li><a href="user-questions.html">User</a></li>
						</ul>
					</div>

					<div class="contact">
						<ul>
							<li><i class="fa fa-user"></i><a href="#">Signout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="btn-group btn-breadcrumb">
		 <div class="container">
			<a href="#">Home</a>
			<a href="#">User</a>
			<a class="link" href="#">Edit Profile</a>
		</div>
	</div>
	<!-- NAVBAR CODE END -->


	<div class="container">
		<section>
			<div class="row">
			 <div class="col-md-4" id="about-admin">
					<div class="alert alert-info">
					<h3>My Profile<span><a href="">Edit Profile</a></span></h3>
					<div class="col-md-4">
					
					<img src="assets/img/admin.jpg" class="img-rounded img-responsive" alt="Picture"/>
					<h5>User Name</h5>
					</div>
					<div class="col-md-8">
					<ul class="q_list">
						<li>No of question asked<span>21</span></li>
						<li>No of question responded<span>29</span></li>
					</ul>
					</div>
				</div>
				<div class="alert alert-info">
					<h3>Stats</h3>
					<ul class="stats">
						<li><i class="fa fa-question-circle"></i>Question<span>(10)</span></li>
						<li><i class="fa fa-comment"></i>Answer<span>(30)</span></li>
					</ul>
				</div>
				<div class="alert alert-info">
					<h3>Tags</h3>
					<ul class="tags">
						<li><a href="">Project</a></li>
						<li><a href="">Portfolio</a></li>
						<li><a href="">UI</a></li>
						<li><a href="">HTML</a></li>
					</ul>
					<ul class="tags">
						<li><a href="">Project</a></li>
						<li><a href="">Portfolio</a></li>
						<li><a href="">UI</a></li>
						<li><a href="">HTML</a></li>
					</ul>
				</div>
				</div>
				<div class="col-md-8">
				<div class="col-md-12" id="about-admin">
					<div class="alert alert-info">
						<h2>Edit Profile</h2>
						<form class="edit">
						<div class="col-md-6">
							<input type="text" class="span3" placeholder="First Name" required>
							<input type="text" class="span3" placeholder="Email" required>
							<input type="text" class="span3" placeholder="Password" required>
							<input type="text" class="span3" placeholder="Country" required>
						</div>
						<div class="col-md-6">
						<input type="text" class="span3" placeholder="Last Name" required>

						<select required class="form-control">
							<option>Website 1</option>
							<option>Website 2</option>
							<option>Website 3</option>
						</select>

							<input type="text" class="span3" placeholder="Preferred Freelance Website" required>
							<input type="text" class="span3" placeholder="Confirm Password" required>
						</div>
						<div class="col-md-12">
						<div class="col-md-2">
						<i class="fa fa-user"></i>
						</div>
						<div class="col-md-10">
							<label>Profile Picture</label>
							<input type="file" required>
						</div>
						<div class="row">
						<div class="col-md-12">
						<label>About Yourself</label>
			<textarea name="message" id="message" class="input-xlarge span5" rows="10" required></textarea>
			<input type="submit" class="btn btn-primary pull-right" value="Update">
						</div>
						</div>
	
		
	
	</div>
</form>
					</div>
				</div>
			</div>
			<!-- ROW END -->


		</section>
		<!-- SECTION END -->
	</div>

	<footer id="contentinfo" class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="site-info">
						<p class="copyright-text">Copyright &copy; 2015 Q &amp; A</p><!-- /.copyright-text -->
					</div><!-- /.site-info -->
				</div>

				<div class="col-md-8">
					<div class="footer-links">
						<ul class="list-unstyled">
							<li><a href="#">Home</a></li>
							<li><a href="#">Ask Question</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">User</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div><!-- /.footer-links -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /#contentinfo .site-footer -->

	<!-- CONATINER END -->

	<!-- REQUIRED SCRIPTS FILES -->
	<!-- CORE JQUERY FILE -->
	<script src="assets/js/jquery-1.11.1.js"></script>
	<!-- REQUIRED BOOTSTRAP SCRIPTS -->
	<script src="assets/js/bootstrap.js"></script>
</body>

</html>
